<div class="pagination-container">
	<%= will_paginate @places, :class => "pagination-centered", :renderer => BootstrapPagination::Rails %>
</div>
<div>
<% @places.order("created_at desc").each do |place| %>
	<div class="booyah-box col-xs-12 col-sm-10 col-sm-offset-1">
		<div class="col-sm-8 pull-left">
			<h1><%= link_to place.name, place_path(place) %></h1>
			<i><%= place.address %></i>
			<br /><br />
			<p><%= place.description %></p>

			<% if place.user.present? %>
			  <small><%= place.user.email %></small>
			<% end %>
		</div>
		<div class="col-sm-4 hidden-xs">
			<% if place.photos.last.present? %>
				<%= image_tag place.photos.last.picture, :class => "photosnippet pull-right" %>
			<% end %>
		</div>
		<br />
		<% if place.comments.present? %>	
			<div class="col-xs-12 hidden-xs">
		  	  <blockquote>
		  	  	<% if place.comments.last.humanized_rating.present? %>
		  	  	<b><%= place.comments.last.humanized_rating %> </b> -
		  	  	<% end %>
		  	  		<%= place.comments.last.message %>
		  	  		<small><%= place.comments.last.user.email %></small>
		  	  </blockquote>
		    </div>
		<% end %>
	</div>
<% end %>
</div>
<div class="pagination-container">
	<%= will_paginate @places,:page_links => false, :class => "pagination-centered", :renderer => BootstrapPagination::Rails %>
</div>